Repository zrma/rustory: changes, and which lefthook commands are due for each by the changed paths.
All: todo-readiness, todo-closure, lessons-log-enforcement

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    # docs/todo-* 변경은 commit 전에 readiness를 선검증
    todo-readiness:
      glob: "docs/todo-*/**"
      run: |
        todo_dirs=$(printf '%s\n' {staged_files} | awk -F/ '/^docs\/todo-[^/]+\// {print $1"/"$2}' | sort -u)
        if [ -z "$todo_dirs" ]; then
          exit 0
        fi
        for dir in $todo_dirs; do
          scripts/check-todo-readiness.sh "$dir"
        done

    # docs 변경 시 완료 todo 정리/참조 누락 여부를 선검증
    todo-closure:
      glob: "docs/**"
      run: scripts/check-todo-closure.sh

    lessons-log-enforcement:
      glob: "docs/LESSONS_LOG.md"
      run: scripts/check-lessons-log-enforcement.sh

commit-msg:
  commands:
    jj-root-git-commit-guard:
      run: scripts/check-jj-root-git-commit.sh

pre-push:
  commands:
    release-gates:
      run: scripts/check-release-gates.sh --manifest-mode full
    lessons-log-range:
      run: scripts/check-lessons-log-range.sh --remote origin --bookmark main

feat: add retry and payload controls for p2p sync
  Cargo.lock
  Cargo.toml
  README.md
  docs/daemon.md
  docs/p2p.md
  docs/todo-http-retry/open-questions.md
  docs/todo-http-retry/spec.md
  src/http_retry.rs
  src/main.rs
  src/p2p.rs
  src/p2p_codec.rs
  src/sync.rs
  src/tracker.rs
  src/transport.rs
Due: todo-readiness, todo-closure

feat: add shell history import and record filters
  AGENTS.md
  Cargo.lock
  Cargo.toml
  README.md
  docs/dev-playbook.md
  docs/hook.md
  docs/p2p.md
  docs/quickstart.md
  scripts/check.sh
  src/cli.rs
  src/config.rs
  src/core.rs
  src/history_import.rs
  src/hook.rs
  src/main.rs
  src/p2p.rs
  src/sync.rs
  src/transport.rs
Due: todo-closure

feat: harden p2p watch and compressed sync protocols
  AGENTS.md
  Cargo.lock
  Cargo.toml
  docs/daemon.md
  docs/p2p.md
  scripts/smoke_p2p_local.sh
  src/cli.rs
  src/config.rs
  src/p2p.rs
  src/p2p_codec.rs
Due: todo-closure

feat: add init and doctor commands
  README.md
  docs/p2p.md
  src/cli.rs
  src/config.rs
Due: todo-closure

feat: expose p2p retry tuning and insert stats
  contrib/daemon/launchd/com.rustory.p2p-sync.plist
  contrib/daemon/systemd/rustory.service
  docs/daemon.md
  docs/dev-playbook.md
  docs/p2p.md
  src/cli.rs
  src/config.rs
  src/p2p.rs
  src/storage.rs
  src/sync.rs
  src/transport.rs
Due: todo-closure

feat: add sync status reporting
  docs/LESSONS_ARCHIVE.md
  docs/p2p.md
  src/cli.rs
  src/storage.rs
Due: todo-closure

ci: add secret scanning gate
  .github/workflows/ci.yml
  AGENTS.md
  scripts/check.sh
  scripts/secret_scan.sh
Due: none

test: add docker relay acceptance coverage
  .dockerignore
  contrib/docker/acceptance/Dockerfile
  contrib/docker/acceptance/compose.yml
  docs/acceptance/docker-macos-linux.md
  docs/dev-playbook.md
  docs/p2p.md
  docs/quickstart.md
  scripts/acceptance_docker_macos_linux.sh
  src/p2p.rs
Due: todo-closure

ci: align release gates no-todo path
  .github/workflows/release-gates.yml
  docs/CHANGE_CONTROL.md
  scripts/check-push-gates.sh
  scripts/check-release-gates.sh
  scripts/check-script-smoke.sh
Due: todo-closure

ci: fix docs integrity fetch depth
  .github/workflows/docs-integrity.yml
  docs/LESSONS_ARCHIVE.md
Due: todo-closure

feat: expand doctor diagnostics
  docs/LESSONS_ARCHIVE.md
  docs/p2p.md
  docs/quickstart.md
  src/cli.rs
Due: todo-closure

fix: harden sync tracker and pruning edge cases
  src/p2p.rs
  src/storage.rs
  src/sync.rs
  src/tracker.rs
  src/transport.rs
Due: none

feat: add prune and async maintenance scheduling
  docs/LESSONS_ARCHIVE.md
  docs/hook.md
  docs/mvp.md
  docs/quickstart.md
  src/cli.rs
  src/storage.rs
Due: todo-closure

ci: use UTC dates for document freshness
  scripts/check-doc-last-verified.sh
Due: none

test: expose Docker acceptance check path
  README.md
  docs/acceptance/docker-macos-linux.md
  docs/dev-playbook.md
  docs/p2p.md
  scripts/check.sh
Due: todo-closure

fix: harden autonomy gate scripts
  docs/todo-agent-autonomy-hardening/open-questions.md
  docs/todo-agent-autonomy-hardening/spec.md
  scripts/check-doc-index.sh
  scripts/check-doc-links.sh
  scripts/check-jj-conflicts.sh
  scripts/check-lessons-log-enforcement.sh
  scripts/check-push-gates.sh
  scripts/check-release-gates.sh
  scripts/check-script-smoke.sh
  scripts/check-todo-closure.sh
  scripts/check-todo-readiness.sh
  scripts/finalize-and-push.sh
  scripts/jj-git-push-safe.sh
  scripts/lib/todo-workspace.sh
  scripts/run-manifest-checks.sh
Due: todo-readiness, todo-closure

chore: close agent autonomy hardening todo
  docs/todo-agent-autonomy-hardening/open-questions.md
  docs/todo-agent-autonomy-hardening/spec.md
  scripts/check-lessons-log-enforcement.sh
Due: todo-readiness, todo-closure

docs: refresh operating document verification dates
  docs/CHANGE_CONTROL.md
  docs/ESCALATION_POLICY.md
  docs/EXECUTION_LOOP.md
  docs/HANDOFF.md
  docs/IMPROVEMENT_LOOP.md
  docs/OPERATING_MODEL.md
  docs/README_OPERATING_POLICY.md
  docs/SKILL_OPERATING_GUIDE.md
Due: todo-closure

feat: report local db status in doctor
  docs/quickstart.md
  docs/todo-doctor-db-status/open-questions.md
  docs/todo-doctor-db-status/spec.md
  src/cli.rs
  src/storage.rs
Due: todo-readiness, todo-closure

docs: clarify agent escalation autonomy
  AGENTS.md
  docs/ESCALATION_POLICY.md
  docs/OPERATING_MODEL.md
  docs/todo-agent-autonomy-escalation-policy/open-questions.md
  docs/todo-agent-autonomy-escalation-policy/spec.md
Due: todo-readiness, todo-closure

chore: start agent autonomy escalation policy
  docs/todo-agent-autonomy-escalation-policy/open-questions.md
  docs/todo-agent-autonomy-escalation-policy/spec.md
Due: todo-readiness, todo-closure

docs: close fzf doctor todo
  docs/todo-fzf-doctor-check/open-questions.md
  docs/todo-fzf-doctor-check/spec.md
Due: todo-readiness, todo-closure

fix: report fzf availability in doctor
  docs/hook.md
  docs/quickstart.md
  docs/todo-fzf-doctor-check/open-questions.md
  docs/todo-fzf-doctor-check/spec.md
  src/cli.rs
Due: todo-readiness, todo-closure

docs: close doctor db status todo
  docs/todo-doctor-db-status/open-questions.md
  docs/todo-doctor-db-status/spec.md
Due: todo-readiness, todo-closure

docs: close hook doctor todo
  docs/todo-hook-doctor-status/open-questions.md
  docs/todo-hook-doctor-status/spec.md
Due: todo-readiness, todo-closure

feat: report hook status in doctor
  docs/hook.md
  docs/p2p.md
  docs/quickstart.md
  docs/todo-hook-doctor-status/open-questions.md
  docs/todo-hook-doctor-status/spec.md
  src/cli.rs
  src/hook.rs
Due: todo-readiness, todo-closure

docs: plan doctor invalid config
  docs/todo-doctor-invalid-config/open-questions.md
  docs/todo-doctor-invalid-config/spec.md
Due: todo-readiness, todo-closure

fix: keep doctor running on invalid config
  docs/p2p.md
  docs/quickstart.md
  docs/todo-doctor-invalid-config/open-questions.md
  docs/todo-doctor-invalid-config/spec.md
  src/cli.rs
Due: todo-readiness, todo-closure

docs: plan init force invalid config
  docs/todo-init-force-invalid-config/open-questions.md
  docs/todo-init-force-invalid-config/spec.md
Due: todo-readiness, todo-closure

fix: allow init force to repair invalid config
  docs/quickstart.md
  docs/todo-init-force-invalid-config/open-questions.md
  docs/todo-init-force-invalid-config/spec.md
  src/cli.rs
Due: todo-readiness, todo-closure

docs: plan cli help descriptions
  docs/todo-cli-help-descriptions/open-questions.md
  docs/todo-cli-help-descriptions/spec.md
Due: todo-readiness, todo-closure

fix: describe cli commands in help
  docs/todo-cli-help-descriptions/open-questions.md
  docs/todo-cli-help-descriptions/spec.md
  src/cli.rs
Due: todo-readiness, todo-closure

docs: plan cli flag help descriptions
  docs/todo-cli-flag-help-descriptions/open-questions.md
  docs/todo-cli-flag-help-descriptions/spec.md
Due: todo-readiness, todo-closure

fix: describe cli flags in help
  docs/todo-cli-flag-help-descriptions/open-questions.md
  docs/todo-cli-flag-help-descriptions/spec.md
  src/cli.rs
Due: todo-readiness, todo-closure

ci: update actions for node24 runtime
  .github/workflows/ci.yml
  .github/workflows/docs-integrity.yml
  .github/workflows/release-gates.yml
  docs/todo-ci-node24-actions/open-questions.md
  docs/todo-ci-node24-actions/spec.md
Due: todo-readiness, todo-closure

feat: configure hook runtime from config
  docs/hook.md
  docs/quickstart.md
  docs/todo-hook-runtime-config/open-questions.md
  docs/todo-hook-runtime-config/spec.md
  src/cli.rs
  src/config.rs
Due: todo-readiness, todo-closure

docs: close hook runtime config todo
  docs/todo-hook-runtime-config/open-questions.md
  docs/todo-hook-runtime-config/spec.md
Due: todo-readiness, todo-closure

fix: respect hook search limit config
  docs/hook.md
  docs/p2p.md
  docs/quickstart.md
  docs/todo-hook-search-limit-config/open-questions.md
  docs/todo-hook-search-limit-config/spec.md
  src/cli.rs
  src/hook.rs
Due: todo-readiness, todo-closure

fix: parse hook disable as boolean
  docs/hook.md
  docs/todo-hook-disable-bool/open-questions.md
  docs/todo-hook-disable-bool/spec.md
  src/cli.rs
  src/hook.rs
Due: todo-readiness, todo-closure
