Repository zrma/rustory: changes, and which lefthook commands are due for each by the changed paths.
All: todo-readiness, todo-closure, lessons-log-enforcement

todo-readiness:
  run: "todo_dirs=$(printf '%s\\n' {staged_files} | awk -F/ '/^docs\\/todo-[^/]+\\// {print $1\"/\"$2}' | sort -u)\nif [ -z \"$todo_dirs\" ]; then\n  exit 0\nfi\nfor dir in $todo_dirs; do\n  scripts/check-todo-readiness.sh \"$dir\"\ndone\n"

todo-closure:
  run: scripts/check-todo-closure.sh

lessons-log-enforcement:
  run: scripts/check-lessons-log-enforcement.sh

docs: close v1.0.54 release rollout
  docs/todo-release-v1-0-54/open-questions.md
  docs/todo-release-v1-0-54/spec.md
Due: todo-readiness, todo-closure

fix: prevent duplicate daemon fallback
  Cargo.lock
  Cargo.toml
  docs/todo-systemd-user-bus-fallback/open-questions.md
  docs/todo-systemd-user-bus-fallback/spec.md
  src/self_update.rs
Due: todo-readiness, todo-closure

docs: close runtime lifecycle logic audit
  AGENTS.md
  docs/todo-runtime-lifecycle-logic-audit/open-questions.md
  docs/todo-runtime-lifecycle-logic-audit/spec.md
Due: todo-readiness, todo-closure

docs: close CI script smoke portability
  docs/todo-ci-script-smoke-portability/open-questions.md
  docs/todo-ci-script-smoke-portability/spec.md
Due: todo-readiness, todo-closure

fix: harden background daemon startup lifecycle
  docs/todo-runtime-lifecycle-logic-audit/open-questions.md
  docs/todo-runtime-lifecycle-logic-audit/spec.md
  install/rustory.py
  install/test_rustory.py
  src/self_update.rs
Due: todo-readiness, todo-closure

build: prepare v1.0.54 release
  Cargo.lock
  Cargo.toml
  docs/todo-release-v1-0-54/open-questions.md
  docs/todo-release-v1-0-54/spec.md
Due: todo-readiness, todo-closure

refactor: consolidate import and retry helpers
  docs/todo-shared-helper-refactor/open-questions.md
  docs/todo-shared-helper-refactor/spec.md
  src/history_import/atuin.rs
  src/history_import/hishtory.rs
  src/history_import/mod.rs
  src/history_import/sqlite.rs
  src/http_retry.rs
  src/main.rs
  src/p2p.rs
  src/retry.rs
Due: todo-readiness, todo-closure

docs: close daemon fallback rollout
  docs/todo-systemd-user-bus-fallback/open-questions.md
  docs/todo-systemd-user-bus-fallback/spec.md
Due: todo-readiness, todo-closure

fix: make document freshness rewrite-safe
  scripts/check-doc-last-verified.sh
Due: none

fix: enforce public operations boundary
  .github/workflows/ci.yml
  docs/CHANGE_CONTROL.md
  docs/IMPROVEMENT_LOOP.md
  docs/LESSONS_LOG.md
  docs/agent-harness.md
  scripts/check-branch-hygiene.sh
  scripts/check-publication-boundary.py
  scripts/secret_scan.sh
Due: todo-closure, lessons-log-enforcement

docs: close shared helper refactor todo
  docs/LESSONS_LOG.md
  docs/todo-shared-helper-refactor/open-questions.md
  docs/todo-shared-helper-refactor/spec.md
Due: todo-readiness, todo-closure, lessons-log-enforcement

chore: update Rust toolchain and dependencies
  .github/workflows/ci.yml
  .github/workflows/docs-integrity.yml
  .github/workflows/release-gates.yml
  Cargo.lock
  Cargo.toml
  rust-toolchain.toml
  src/self_update.rs
Due: none

fix: clean legacy background processes
  Cargo.lock
  Cargo.toml
  docs/todo-systemd-user-bus-fallback/spec.md
  src/self_update.rs
Due: todo-readiness, todo-closure

ci: harden tracked artifact privacy checks
  .github/workflows/ci.yml
  AGENTS.md
  docs/agent-harness.md
  scripts/check-agent-harness-interface.sh
Due: todo-closure

fix: isolate Docker acceptance from host config
  docs/todo-docker-acceptance-refresh/open-questions.md
  docs/todo-docker-acceptance-refresh/spec.md
  scripts/acceptance_docker_macos_linux.sh
Due: todo-readiness, todo-closure

docs: close Docker acceptance refresh
  docs/LESSONS_ARCHIVE.md
  docs/LESSONS_LOG.md
  docs/todo-docker-acceptance-refresh/open-questions.md
  docs/todo-docker-acceptance-refresh/spec.md
Due: todo-readiness, todo-closure, lessons-log-enforcement

build: prepare v1.0.57 release
  Cargo.lock
  Cargo.toml
  docs/todo-release-v1-0-57/open-questions.md
  docs/todo-release-v1-0-57/spec.md
Due: todo-readiness, todo-closure

docs: close v1.0.57 release todo
  docs/LESSONS_ARCHIVE.md
  docs/todo-release-v1-0-57/open-questions.md
  docs/todo-release-v1-0-57/spec.md
Due: todo-readiness, todo-closure

feat: improve ctrl-r search ranking
  docs/LESSONS_LOG.md
  docs/dev-playbook.md
  docs/hook.md
  src/cli.rs
  src/search.rs
Due: todo-closure, lessons-log-enforcement

build: prepare v1.0.58 release
  Cargo.lock
  Cargo.toml
  docs/todo-release-v1-0-58/open-questions.md
  docs/todo-release-v1-0-58/spec.md
Due: todo-readiness, todo-closure

docs: close v1.0.58 release todo
  docs/LESSONS_ARCHIVE.md
  docs/todo-release-v1-0-58/open-questions.md
  docs/todo-release-v1-0-58/spec.md
Due: todo-readiness, todo-closure

docs: add Rustory brand mark
  README.md
  docs/assets/rustory-mark.svg
  docs/todo-readme-brand-mark/open-questions.md
  docs/todo-readme-brand-mark/spec.md
Due: todo-readiness, todo-closure

docs: close README brand mark todo
  docs/LESSONS_LOG.md
  docs/todo-readme-brand-mark/open-questions.md
  docs/todo-readme-brand-mark/spec.md
Due: todo-readiness, todo-closure, lessons-log-enforcement

docs: refine README tagline
  README.md
  docs/todo-readme-tagline-copy/open-questions.md
  docs/todo-readme-tagline-copy/spec.md
Due: todo-readiness, todo-closure

docs: close README tagline todo
  docs/LESSONS_LOG.md
  docs/todo-readme-tagline-copy/open-questions.md
  docs/todo-readme-tagline-copy/spec.md
Due: todo-readiness, todo-closure, lessons-log-enforcement

docs: refine logo parchment scrolls
  docs/assets/rustory-mark.svg
  docs/todo-logo-bottom-scroll-refinement/open-questions.md
  docs/todo-logo-bottom-scroll-refinement/spec.md
Due: todo-readiness, todo-closure

docs: close logo scroll refinement todo
  docs/LESSONS_LOG.md
  docs/assets/rustory-mark.svg
  docs/todo-logo-bottom-scroll-refinement/open-questions.md
  docs/todo-logo-bottom-scroll-refinement/spec.md
Due: todo-readiness, todo-closure, lessons-log-enforcement

feat: add command-level dedupe grouping
  docs/LESSONS_LOG.md
  docs/quickstart.md
  src/cli.rs
  src/storage.rs
Due: todo-closure, lessons-log-enforcement

fix: isolate failed p2p peers
  docs/LESSONS_LOG.md
  docs/p2p.md
  scripts/smoke_p2p_local.sh
  src/cli.rs
  src/p2p.rs
Due: todo-closure, lessons-log-enforcement

chore: prepare v1.0.59 release
  Cargo.lock
  Cargo.toml
  docs/todo-release-v1-0-59/open-questions.md
  docs/todo-release-v1-0-59/spec.md
Due: todo-readiness, todo-closure

docs: close v1.0.59 release
  docs/LESSONS_LOG.md
  docs/todo-release-v1-0-59/open-questions.md
  docs/todo-release-v1-0-59/spec.md
Due: todo-readiness, todo-closure, lessons-log-enforcement

feat: strengthen command dedupe
  docs/LESSONS_LOG.md
  docs/quickstart.md
  docs/todo-dedupe-candidate-semantics/open-questions.md
  docs/todo-dedupe-candidate-semantics/spec.md
  src/cli.rs
  src/storage.rs
Due: todo-readiness, todo-closure, lessons-log-enforcement

docs: close dedupe semantics todo
  docs/todo-dedupe-candidate-semantics/open-questions.md
  docs/todo-dedupe-candidate-semantics/spec.md
Due: todo-readiness, todo-closure

chore: prepare v1.0.60 release
  Cargo.lock
  Cargo.toml
  docs/todo-release-v1-0-60/open-questions.md
  docs/todo-release-v1-0-60/spec.md
Due: todo-readiness, todo-closure

docs: close v1.0.60 release
  docs/LESSONS_LOG.md
  docs/todo-release-v1-0-60/open-questions.md
  docs/todo-release-v1-0-60/spec.md
Due: todo-readiness, todo-closure, lessons-log-enforcement

fix: harden security boundaries
  README.md
  contrib/docker/acceptance/compose.yml
  docs/CHANGE_CONTROL.md
  docs/LESSONS_LOG.md
  docs/acceptance/docker-macos-linux.md
  docs/acceptance/docker-two-peer-relay.md
  docs/daemon.md
  docs/distribution.md
  docs/hishtory-migration.md
  docs/hook.md
  docs/mvp.md
  docs/p2p.md
  docs/quickstart.md
  docs/security.md
  install/rustory.py
  install/test_rustory.py
  scripts/acceptance_docker_macos_linux.sh
  scripts/acceptance_docker_two_peer_relay.sh
  scripts/check-agent-harness-interface.sh
  scripts/check-publication-boundary.py
  scripts/check-script-smoke.sh
  scripts/jj-git-push-safe.sh
  src/cli.rs
  src/hishtory_cleanup.rs
  src/hook.rs
  src/p2p.rs
  src/p2p_codec.rs
  src/self_update.rs
  src/tracker.rs
  src/transport.rs
Due: todo-closure, lessons-log-enforcement

fix: keep sticky bit check portable
  src/hishtory_cleanup.rs
Due: none

chore: prepare v1.0.61 release
  Cargo.lock
  Cargo.toml
  docs/todo-release-v1-0-61/open-questions.md
  docs/todo-release-v1-0-61/spec.md
Due: todo-readiness, todo-closure

docs: close v1.0.61 release
  docs/LESSONS_LOG.md
  docs/todo-release-v1-0-61/open-questions.md
  docs/todo-release-v1-0-61/spec.md
Due: todo-readiness, todo-closure, lessons-log-enforcement

chore: update Rust toolchain and dependencies
  .github/workflows/ci.yml
  .github/workflows/release-gates.yml
  Cargo.lock
  docs/ESCALATION_POLICY.md
  docs/README_OPERATING_POLICY.md
  docs/todo-toolchain-dependency-refresh/open-questions.md
  docs/todo-toolchain-dependency-refresh/spec.md
  rust-toolchain.toml
Due: todo-readiness, todo-closure

Path conditions:
  todo-readiness: any of: docs/todo-*/**
  todo-closure: any of: docs/**
  lessons-log-enforcement: any of: docs/LESSONS_LOG.md
