Repository zrma/rustory: changes, and which lefthook commands are due for each by the changed paths.
All: todo-readiness, todo-closure, lessons-log-enforcement

todo-readiness:
  run: "todo_dirs=$(printf '%s\\n' {staged_files} | awk -F/ '/^docs\\/todo-[^/]+\\// {print $1\"/\"$2}' | sort -u)\nif [ -z \"$todo_dirs\" ]; then\n  exit 0\nfi\nfor dir in $todo_dirs; do\n  scripts/check-todo-readiness.sh \"$dir\"\ndone\n"

todo-closure:
  run: scripts/check-todo-closure.sh

lessons-log-enforcement:
  run: scripts/check-lessons-log-enforcement.sh

docs: close installer self update todo
  docs/todo-installer-self-update/open-questions.md
  docs/todo-installer-self-update/spec.md
Due: todo-readiness, todo-closure

docs: close Hishtory cleanup todo
  docs/todo-cleanup-hishtory/open-questions.md
  docs/todo-cleanup-hishtory/spec.md
Due: todo-readiness, todo-closure

fix: harden Rustory grid installer
  Cargo.lock
  Cargo.toml
  docs/distribution.md
  docs/quickstart.md
  install/rustory.py
  src/cli.rs
  src/tracker.rs
Due: todo-closure

fix: retry relay cancellation during p2p sync
  Cargo.lock
  Cargo.toml
  docs/distribution.md
  docs/todo-p2p-relay-cancel-retry/open-questions.md
  docs/todo-p2p-relay-cancel-retry/spec.md
  src/p2p.rs
Due: todo-readiness, todo-closure

feat: add Hishtory cleanup command
  docs/hishtory-migration.md
  docs/todo-cleanup-hishtory/open-questions.md
  docs/todo-cleanup-hishtory/spec.md
  src/cli.rs
  src/hishtory_cleanup.rs
  src/main.rs
Due: todo-readiness, todo-closure

docs: close Hishtory invalid utf8 todo
  docs/todo-hishtory-invalid-utf8-import/open-questions.md
  docs/todo-hishtory-invalid-utf8-import/spec.md
Due: todo-readiness, todo-closure

fix: tolerate invalid utf8 Hishtory import
  Cargo.lock
  Cargo.toml
  docs/distribution.md
  docs/hishtory-migration.md
  docs/todo-hishtory-invalid-utf8-import/open-questions.md
  docs/todo-hishtory-invalid-utf8-import/spec.md
  install/rustory.py
  src/history_import.rs
Due: todo-readiness, todo-closure

docs: close relay cancellation retry todo
  docs/todo-p2p-relay-cancel-retry/open-questions.md
  docs/todo-p2p-relay-cancel-retry/spec.md
Due: todo-readiness, todo-closure

docs: start doctor autofix watch todo
  docs/todo-doctor-autofix-watch-layout/open-questions.md
  docs/todo-doctor-autofix-watch-layout/spec.md
Due: todo-readiness, todo-closure

feat: add doctor autofix and grid watch
  docs/p2p.md
  docs/quickstart.md
  docs/todo-doctor-autofix-watch-layout/open-questions.md
  docs/todo-doctor-autofix-watch-layout/spec.md
  scripts/check-lessons-log-enforcement.sh
  src/cli.rs
Due: todo-readiness, todo-closure

docs: close inline bootstrap todo
  docs/todo-installer-inline-bootstrap/open-questions.md
  docs/todo-installer-inline-bootstrap/spec.md
Due: todo-readiness, todo-closure

feat: support public relay onboarding
  Cargo.lock
  Cargo.toml
  docs/daemon.md
  docs/distribution.md
  docs/p2p.md
  docs/quickstart.md
  docs/todo-installer-daemon-service/open-questions.md
  docs/todo-installer-daemon-service/spec.md
  install/rustory.py
  src/cli.rs
  src/libp2p.rs
  src/p2p.rs
Due: todo-readiness, todo-closure

feat: support inline swarm key installer
  Cargo.lock
  Cargo.toml
  docs/daemon.md
  docs/distribution.md
  docs/hishtory-migration.md
  docs/quickstart.md
  docs/todo-installer-inline-bootstrap/open-questions.md
  docs/todo-installer-inline-bootstrap/spec.md
  install/rustory.py
Due: todo-readiness, todo-closure

build: add release automation
  docs/distribution.md
  scripts/build-release-assets.sh
  scripts/check-script-smoke.sh
  scripts/release-version.sh
Due: todo-closure

build: release 1.0.9 assets
  Cargo.lock
  Cargo.toml
  docs/LESSONS_ARCHIVE.md
  docs/distribution.md
  docs/todo-release-109-update-assets/open-questions.md
  docs/todo-release-109-update-assets/spec.md
Due: todo-readiness, todo-closure

feat: render sync watch mesh dashboard
  docs/p2p.md
  docs/todo-sync-watch-mesh-dashboard/open-questions.md
  docs/todo-sync-watch-mesh-dashboard/spec.md
  src/cli.rs
Due: todo-readiness, todo-closure

docs: start 1.0.9 release assets
  docs/todo-release-109-update-assets/open-questions.md
  docs/todo-release-109-update-assets/spec.md
Due: todo-readiness, todo-closure

feat: improve search tui controls
  docs/LESSONS_ARCHIVE.md
  docs/hook.md
  src/cli.rs
  src/search.rs
Due: todo-closure

docs: close sync watch mesh dashboard
  docs/LESSONS_ARCHIVE.md
  docs/todo-sync-watch-mesh-dashboard/open-questions.md
  docs/todo-sync-watch-mesh-dashboard/spec.md
Due: todo-readiness, todo-closure

build: harden release publishing
  Cargo.lock
  Cargo.toml
  docs/distribution.md
  scripts/release-version.sh
Due: todo-closure

fix: build portable linux release assets
  Cargo.lock
  Cargo.toml
  docs/distribution.md
  docs/todo-installer-daemon-service/spec.md
  install/rustory.py
  scripts/build-release-assets.sh
  scripts/release-version.sh
Due: todo-readiness, todo-closure

build: add linux release builder fallback
  docs/distribution.md
  scripts/build-release-assets.sh
  scripts/release-version.sh
Due: todo-closure

build: release 1.0.11
  Cargo.lock
  Cargo.toml
Due: none

fix: polish mesh watch tui
  src/cli.rs
  src/search.rs
Due: none

fix: autostart fallback daemon in shell
  Cargo.lock
  Cargo.toml
  docs/daemon.md
  docs/distribution.md
  docs/todo-installer-daemon-service/spec.md
  install/rustory.py
Due: todo-readiness, todo-closure

fix: harden daemon install and self peer filtering
  Cargo.lock
  Cargo.toml
  docs/daemon.md
  docs/distribution.md
  docs/todo-installer-daemon-service/spec.md
  install/rustory.py
  src/cli.rs
  src/p2p.rs
Due: todo-readiness, todo-closure

fix: compile linux self update restart
  src/self_update.rs
Due: none

fix: start daemon without systemd user bus
  Cargo.lock
  Cargo.toml
  docs/daemon.md
  docs/distribution.md
  docs/todo-installer-daemon-service/spec.md
  install/rustory.py
Due: todo-readiness, todo-closure

fix: restart daemon after self update
  Cargo.lock
  Cargo.toml
  docs/daemon.md
  docs/distribution.md
  docs/p2p.md
  install/rustory.py
  src/cli.rs
  src/p2p.rs
  src/self_update.rs
  src/storage.rs
Due: todo-closure

fix: require relay reservations for p2p sync
  Cargo.lock
  Cargo.toml
  docs/daemon.md
  docs/p2p.md
  docs/todo-installer-daemon-service/spec.md
  src/cli.rs
  src/p2p.rs
Due: todo-readiness, todo-closure

fix: dedupe managed shell hooks
  Cargo.lock
  Cargo.toml
  docs/hook.md
  install/rustory.py
  src/cli.rs
  src/hook.rs
  src/self_update.rs
Due: todo-closure

fix: count inbound pulls as push progress
  Cargo.lock
  Cargo.toml
  docs/todo-installer-daemon-service/spec.md
  src/history_import.rs
  src/p2p.rs
  src/storage.rs
  src/sync.rs
Due: todo-readiness, todo-closure

feat: add mesh watch dashboard
  docs/p2p.md
  docs/todo-installer-daemon-service/spec.md
  src/cli.rs
Due: todo-readiness, todo-closure

fix: quiet relay direct upgrade noise
  Cargo.lock
  Cargo.toml
  src/p2p.rs
Due: none

build: release 1.0.22
  Cargo.lock
  Cargo.toml
Due: none

fix: clarify sync watch dashboard
  Cargo.lock
  Cargo.toml
  docs/p2p.md
  docs/todo-installer-daemon-service/spec.md
  src/cli.rs
Due: todo-readiness, todo-closure

feat: improve mesh topology dashboard
  docs/p2p.md
  docs/todo-installer-daemon-service/spec.md
  src/cli.rs
Due: todo-readiness, todo-closure

refactor: split cli support modules
  src/cli.rs
  src/daemon.rs
  src/main.rs
  src/runtime_tasks.rs
  src/sync_status.rs
  src/watch_tui.rs
Due: none

refactor: extract watch tui renderer
  docs/LESSONS_ARCHIVE.md
  src/cli.rs
  src/main.rs
  src/watch_tui.rs
Due: todo-closure

chore: release 1.0.23
  Cargo.lock
  Cargo.toml
Due: none

Path conditions:
  todo-readiness: any of: docs/todo-*/**
  todo-closure: any of: docs/**
  lessons-log-enforcement: any of: docs/LESSONS_LOG.md
