Repository zrma/rustory: changes, and which lefthook commands are due for each by the changed paths.
All: todo-readiness, todo-closure, lessons-log-enforcement

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    # docs/todo-* 변경은 commit 전에 readiness를 선검증
    todo-readiness:
      glob: "docs/todo-*/**"
      run: |
        todo_dirs=$(printf '%s\n' {staged_files} | awk -F/ '/^docs\/todo-[^/]+\// {print $1"/"$2}' | sort -u)
        if [ -z "$todo_dirs" ]; then
          exit 0
        fi
        for dir in $todo_dirs; do
          scripts/check-todo-readiness.sh "$dir"
        done

    # docs 변경 시 완료 todo 정리/참조 누락 여부를 선검증
    todo-closure:
      glob: "docs/**"
      run: scripts/check-todo-closure.sh

    lessons-log-enforcement:
      glob: "docs/LESSONS_LOG.md"
      run: scripts/check-lessons-log-enforcement.sh

commit-msg:
  commands:
    jj-root-git-commit-guard:
      run: scripts/check-jj-root-git-commit.sh

pre-push:
  commands:
    release-gates:
      run: scripts/check-release-gates.sh --manifest-mode full
    lessons-log-range:
      run: scripts/check-lessons-log-range.sh --remote origin --bookmark main

fix: satisfy rust 1.95 clippy
  docs/todo-ci-rust-195-clippy/open-questions.md
  docs/todo-ci-rust-195-clippy/spec.md
  src/self_update.rs
Due: todo-readiness, todo-closure

docs: close installer daemon service todo
  docs/todo-installer-daemon-service/open-questions.md
  docs/todo-installer-daemon-service/spec.md
Due: todo-readiness, todo-closure

docs: close sync status tracker refresh todo
  docs/todo-sync-status-tracker-refresh/open-questions.md
  docs/todo-sync-status-tracker-refresh/spec.md
Due: todo-readiness, todo-closure

chore: release 1.0.24
  Cargo.lock
  Cargo.toml
Due: none

fix: refresh tracker peers in sync status
  docs/todo-sync-status-tracker-refresh/open-questions.md
  docs/todo-sync-status-tracker-refresh/spec.md
  src/cli.rs
  src/storage.rs
  src/sync_status.rs
Due: todo-readiness, todo-closure

docs: close history dedupe todo
  docs/todo-history-dedupe/open-questions.md
  docs/todo-history-dedupe/spec.md
Due: todo-readiness, todo-closure

fix: stabilize mesh watch ordering
  docs/p2p.md
  docs/todo-mesh-watch-stable-order/open-questions.md
  docs/todo-mesh-watch-stable-order/spec.md
  src/watch_tui.rs
Due: todo-readiness, todo-closure

chore: bump release version to 1.0.25
  Cargo.lock
  Cargo.toml
  docs/todo-release-v1-0-25/open-questions.md
  docs/todo-release-v1-0-25/spec.md
Due: todo-readiness, todo-closure

docs: close rust 1.95 clippy todo
  docs/todo-ci-rust-195-clippy/open-questions.md
  docs/todo-ci-rust-195-clippy/spec.md
Due: todo-readiness, todo-closure

docs: close release v1.0.25 todo
  docs/todo-release-v1-0-25/open-questions.md
  docs/todo-release-v1-0-25/spec.md
Due: todo-readiness, todo-closure

feat: add local history dedupe
  docs/hishtory-migration.md
  docs/quickstart.md
  docs/todo-history-dedupe/open-questions.md
  docs/todo-history-dedupe/spec.md
  src/cli.rs
  src/storage.rs
Due: todo-readiness, todo-closure

build: release 1.0.27
  Cargo.lock
  Cargo.toml
  docs/todo-release-v1-0-27/open-questions.md
  docs/todo-release-v1-0-27/spec.md
Due: todo-readiness, todo-closure

build: release 1.0.26
  Cargo.lock
  Cargo.toml
  docs/todo-release-v1-0-26/open-questions.md
  docs/todo-release-v1-0-26/spec.md
Due: todo-readiness, todo-closure

fix: handle closed todo gate smoke
  docs/todo-security-hardening-followup/open-questions.md
  docs/todo-security-hardening-followup/spec.md
  scripts/check-push-gates.sh
  scripts/check-release-gates.sh
  scripts/check-script-smoke.sh
Due: todo-readiness, todo-closure

fix: harden security scan findings
  Cargo.lock
  Cargo.toml
  docs/todo-security-hardening-followup/open-questions.md
  docs/todo-security-hardening-followup/spec.md
  install/rustory.py
  src/cli.rs
  src/libp2p.rs
  src/p2p.rs
  src/self_update.rs
  src/tracker.rs
  src/transport.rs
Due: todo-readiness, todo-closure

docs: close release 1.0.26 todo
  docs/LESSONS_ARCHIVE.md
  docs/todo-release-v1-0-26/open-questions.md
  docs/todo-release-v1-0-26/spec.md
Due: todo-readiness, todo-closure

docs: close mesh watch stable order todo
  docs/LESSONS_ARCHIVE.md
  docs/todo-mesh-watch-stable-order/open-questions.md
  docs/todo-mesh-watch-stable-order/spec.md
Due: todo-readiness, todo-closure

build: release 1.0.29
  Cargo.lock
  Cargo.toml
Due: none

docs: record relay dns rollout state
  docs/todo-relay-dns-listen/spec.md
Due: todo-readiness, todo-closure

build: release 1.0.28
  Cargo.lock
  Cargo.toml
Due: none

docs: close update restart daemon todo
  docs/todo-update-restarts-daemon/open-questions.md
  docs/todo-update-restarts-daemon/spec.md
Due: todo-readiness, todo-closure

docs: close release 1.0.27 todo
  docs/LESSONS_ARCHIVE.md
  docs/todo-release-v1-0-27/open-questions.md
  docs/todo-release-v1-0-27/spec.md
Due: todo-readiness, todo-closure

fix: restart daemon on idempotent update
  docs/daemon.md
  docs/distribution.md
  docs/todo-update-restarts-daemon/open-questions.md
  docs/todo-update-restarts-daemon/spec.md
  src/self_update.rs
Due: todo-readiness, todo-closure

fix: resolve dns relay listen addresses
  docs/todo-relay-dns-listen/open-questions.md
  docs/todo-relay-dns-listen/spec.md
  src/p2p.rs
Due: todo-readiness, todo-closure

build: release 1.0.30
  Cargo.lock
  Cargo.toml
Due: none

fix: reduce p2p timeout log noise
  docs/todo-p2p-log-noise/open-questions.md
  docs/todo-p2p-log-noise/spec.md
  src/cli.rs
  src/p2p.rs
Due: todo-readiness, todo-closure

test: cover dns relay reservation listen
  docs/todo-relay-dns-listen/spec.md
  src/p2p.rs
Due: todo-readiness, todo-closure

fix: classify stringified p2p timeouts
  Cargo.lock
  Cargo.toml
  docs/todo-p2p-log-noise/spec.md
  src/p2p.rs
Due: todo-readiness, todo-closure

docs: record p2p log noise rollout
  docs/todo-p2p-log-noise/spec.md
Due: todo-readiness, todo-closure

fix: stop stale background daemon children
  Cargo.lock
  Cargo.toml
  docs/daemon.md
  docs/distribution.md
  docs/todo-p2p-log-noise/spec.md
  install/rustory.py
  src/self_update.rs
Due: todo-readiness, todo-closure

fix: clean stale p2p sync child by cmdline
  Cargo.lock
  Cargo.toml
  docs/todo-p2p-log-noise/spec.md
  install/rustory.py
  src/self_update.rs
Due: todo-readiness, todo-closure

fix: exit daemon preflight before supervise
  Cargo.lock
  Cargo.toml
  docs/todo-p2p-log-noise/spec.md
  install/rustory.py
  src/cli.rs
  src/self_update.rs
Due: todo-readiness, todo-closure

docs: record p2p timeout rollout
  docs/todo-p2p-log-noise/spec.md
Due: todo-readiness, todo-closure

fix: quiet routine p2p daemon logs
  docs/p2p.md
  docs/todo-p2p-log-noise/spec.md
  src/cli.rs
  src/p2p.rs
Due: todo-readiness, todo-closure

fix: classify rendered p2p timeouts
  Cargo.lock
  Cargo.toml
  docs/todo-p2p-log-noise/spec.md
  src/p2p.rs
Due: todo-readiness, todo-closure

feat: add tombstone gc
  docs/hishtory-migration.md
  docs/hook.md
  docs/p2p.md
  docs/quickstart.md
  src/cli.rs
  src/config.rs
  src/runtime_tasks.rs
  src/storage.rs
Due: todo-closure

fix: split sync pending tombstones
  docs/hishtory-migration.md
  docs/p2p.md
  docs/quickstart.md
  docs/todo-p2p-log-noise/spec.md
  src/cli.rs
  src/p2p.rs
  src/sync_status.rs
  src/watch_tui.rs
Due: todo-readiness, todo-closure

build: release 1.0.38
  Cargo.lock
  Cargo.toml
Due: none

fix: sync history deletion tombstones
  docs/mvp.md
  src/cli.rs
  src/core.rs
  src/history_import.rs
  src/p2p.rs
  src/storage.rs
  src/sync.rs
  src/sync_status.rs
  src/transport.rs
Due: todo-closure

build: release 1.0.37
  Cargo.lock
  Cargo.toml
Due: none
