Repository zrma/rustory: changes, and which lefthook commands are due for each by the changed paths.
All: todo-readiness, todo-closure, lessons-log-enforcement

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    # docs/todo-* 변경은 commit 전에 readiness를 선검증
    todo-readiness:
      glob: "docs/todo-*/**"
      run: |
        todo_dirs=$(printf '%s\n' {staged_files} | awk -F/ '/^docs\/todo-[^/]+\// {print $1"/"$2}' | sort -u)
        if [ -z "$todo_dirs" ]; then
          exit 0
        fi
        for dir in $todo_dirs; do
          scripts/check-todo-readiness.sh "$dir"
        done

    # docs 변경 시 완료 todo 정리/참조 누락 여부를 선검증
    todo-closure:
      glob: "docs/**"
      run: scripts/check-todo-closure.sh

    lessons-log-enforcement:
      glob: "docs/LESSONS_LOG.md"
      run: scripts/check-lessons-log-enforcement.sh

commit-msg:
  commands:
    jj-root-git-commit-guard:
      run: scripts/check-jj-root-git-commit.sh

pre-push:
  commands:
    release-gates:
      run: scripts/check-release-gates.sh --manifest-mode full
    lessons-log-range:
      run: scripts/check-lessons-log-range.sh --remote origin --bookmark main

feat: import hishtory sqlite history
  docs/README.md
  docs/REPO_MANIFEST.yaml
  docs/hishtory-migration.md
  docs/quickstart.md
  src/cli.rs
  src/history_import.rs
Due: todo-closure

fix: stabilize hishtory fallback import ids
  docs/hishtory-migration.md
  src/history_import.rs
Due: todo-closure

docs: clarify p2p serve daemon requirement
  contrib/daemon/launchd/com.rustory.p2p-serve.plist
  contrib/daemon/systemd/rustory-p2p-serve.service
  docs/daemon.md
  docs/hishtory-migration.md
  docs/p2p.md
  docs/quickstart.md
  src/cli.rs
  src/history_import.rs
Due: todo-closure

fix: prefer relay for tracker p2p sync
  docs/acceptance/README.md
  docs/acceptance/docker-two-peer-relay.md
  docs/dev-playbook.md
  docs/mvp.md
  docs/p2p.md
  scripts/acceptance_docker_two_peer_relay.sh
  scripts/check.sh
  src/cli.rs
  src/p2p.rs
Due: todo-closure

fix: copy sqlite wal in relay acceptance
  scripts/acceptance_docker_two_peer_relay.sh
Due: none

docs: add hishtory migration readiness runbook
  docs/daemon.md
  docs/hishtory-migration.md
  docs/todo-next-maintenance-planning/open-questions.md
  docs/todo-next-maintenance-planning/spec.md
Due: todo-readiness, todo-closure

feat: add supervised rustory daemon
  Cargo.lock
  Cargo.toml
  contrib/daemon/launchd/com.rustory.daemon.plist
  contrib/daemon/systemd/rustory.service
  docs/daemon.md
  docs/quickstart.md
  src/cli.rs
Due: todo-closure

fix: surface tracker token readiness
  src/cli.rs
  src/tracker.rs
Due: none

fix: add daemon tracker preflight
  docs/daemon.md
  docs/todo-daily-driver-readiness/open-questions.md
  docs/todo-daily-driver-readiness/spec.md
  src/cli.rs
Due: todo-readiness, todo-closure

feat: add local history delete command
  README.md
  docs/hishtory-migration.md
  docs/quickstart.md
  src/cli.rs
  src/storage.rs
Due: todo-closure

fix: read tracker token from env for tracker serve
  docs/p2p.md
  src/cli.rs
Due: todo-closure

fix: guard zsh hook binding
  docs/todo-daily-driver-readiness/spec.md
  scripts/smoke_p2p_local.sh
  src/hook.rs
Due: todo-readiness, todo-closure

fix: retry transient relay dial failures
  docs/todo-daily-driver-readiness/spec.md
  src/p2p.rs
Due: todo-readiness, todo-closure

fix: quiet rustory shell hooks
  docs/hishtory-migration.md
  docs/todo-daily-driver-readiness/spec.md
  src/hook.rs
Due: todo-readiness, todo-closure

fix: recover relay listener after restart
  docs/todo-daily-driver-readiness/spec.md
  src/p2p.rs
Due: todo-readiness, todo-closure

chore: release rustory 1.0.0
  Cargo.lock
  Cargo.toml
  build.rs
  contrib/docker/acceptance/Dockerfile
  docs/CHANGE_CONTROL.md
  docs/ESCALATION_POLICY.md
  docs/EXECUTION_LOOP.md
  docs/HANDOFF.md
  docs/IMPROVEMENT_LOOP.md
  docs/OPERATING_MODEL.md
  docs/README_OPERATING_POLICY.md
  docs/SKILL_OPERATING_GUIDE.md
  docs/dev-playbook.md
  docs/todo-daily-driver-readiness/spec.md
  scripts/check-jj-root-git-commit.sh
  scripts/finalize-and-push.sh
  src/build_info.rs
  src/cli.rs
  src/core.rs
  src/main.rs
  src/p2p.rs
  src/search.rs
  src/storage.rs
  src/sync.rs
  src/tracker.rs
  src/transport.rs
Due: todo-readiness, todo-closure

fix: stabilize build revision detection
  build.rs
Due: none

feat: add hishtory-like search table
  docs/hook.md
  docs/todo-daily-driver-readiness/spec.md
  src/search.rs
Due: todo-readiness, todo-closure

fix: make search tui inline
  docs/hook.md
  docs/todo-daily-driver-readiness/spec.md
  src/search.rs
Due: todo-readiness, todo-closure

fix: support legacy fzf search output
  docs/todo-daily-driver-readiness/spec.md
  src/search.rs
Due: todo-readiness, todo-closure

fix: replace fzf search with inline tui
  docs/hishtory-migration.md
  docs/hook.md
  docs/mvp.md
  docs/quickstart.md
  docs/todo-daily-driver-readiness/spec.md
  src/cli.rs
  src/search.rs
Due: todo-readiness, todo-closure

fix: render search tui with tty-safe line endings
  src/hook.rs
  src/search.rs
Due: none

fix: clear search tui on exit
  src/search.rs
Due: none

fix: include prompt gap in search tui cleanup
  src/search.rs
Due: none

fix: stabilize search tui wide text redraw
  Cargo.lock
  Cargo.toml
  src/search.rs
Due: none

chore: release 1.0.1
  Cargo.lock
  Cargo.toml
  docs/todo-daily-driver-readiness/spec.md
Due: todo-readiness, todo-closure

fix: rebalance search tui cwd width
  src/search.rs
Due: none

feat: support mouse wheel in search tui
  src/search.rs
Due: none

fix: stabilize search tui column widths
  src/search.rs
Due: none

build: add tracker container image
  .dockerignore
  Dockerfile
  docs/todo-k8s-tracker-image/open-questions.md
  docs/todo-k8s-tracker-image/spec.md
Due: todo-readiness, todo-closure

fix: harden p2p sync security
  Cargo.lock
  Cargo.toml
  docs/acceptance/docker-macos-linux.md
  docs/daemon.md
  docs/p2p.md
  docs/quickstart.md
  docs/todo-security-scan-remediation/open-questions.md
  docs/todo-security-scan-remediation/spec.md
  scripts/acceptance_docker_macos_linux.sh
  scripts/acceptance_docker_two_peer_relay.sh
  scripts/smoke_p2p_local.sh
  src/cli.rs
  src/p2p.rs
  src/search.rs
  src/storage.rs
  src/sync.rs
  src/transport.rs
Due: todo-readiness, todo-closure

docs: close daily driver readiness todo
  docs/todo-daily-driver-readiness/open-questions.md
  docs/todo-daily-driver-readiness/spec.md
Due: todo-readiness, todo-closure

docs: capture security scan remediation todo
  docs/todo-security-scan-remediation/open-questions.md
  docs/todo-security-scan-remediation/spec.md
Due: todo-readiness, todo-closure

fix: raise relay capacity and track rr commands
  docs/hishtory-migration.md
  docs/hook.md
  docs/p2p.md
  docs/quickstart.md
  docs/todo-daily-driver-readiness/spec.md
  src/cli.rs
  src/history_import.rs
  src/hook.rs
  src/p2p.rs
Due: todo-readiness, todo-closure

feat: add sync status watch and throttle peer fanout
  docs/daemon.md
  docs/p2p.md
  docs/todo-daily-driver-readiness/spec.md
  src/cli.rs
  src/p2p.rs
Due: todo-readiness, todo-closure

feat: complete installer onboarding
  docs/distribution.md
  docs/hishtory-migration.md
  docs/quickstart.md
  docs/todo-installer-hook-import/open-questions.md
  docs/todo-installer-hook-import/spec.md
  install/rustory.py
Due: todo-readiness, todo-closure

docs: close tracker image todo
  docs/todo-k8s-tracker-image/open-questions.md
  docs/todo-k8s-tracker-image/spec.md
Due: todo-readiness, todo-closure

chore: bump version to 1.0.3
  Cargo.lock
  Cargo.toml
Due: none

feat: add installer and self update
  Cargo.lock
  Cargo.toml
  docs/HANDOFF.md
  docs/README.md
  docs/REPO_MANIFEST.yaml
  docs/distribution.md
  docs/quickstart.md
  docs/todo-installer-self-update/open-questions.md
  docs/todo-installer-self-update/spec.md
  install/rustory.py
  scripts/build-release-assets.sh
  src/cli.rs
  src/main.rs
  src/self_update.rs
Due: todo-readiness, todo-closure

docs: close installer hook import todo
  docs/todo-installer-hook-import/open-questions.md
  docs/todo-installer-hook-import/spec.md
Due: todo-readiness, todo-closure
