Repository zrma/rustory: changes, and which lefthook commands are due for each by the changed paths.
All: todo-readiness, todo-closure, lessons-log-enforcement

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    # docs/todo-* 변경은 commit 전에 readiness를 선검증
    todo-readiness:
      glob: "docs/todo-*/**"
      run: |
        todo_dirs=$(printf '%s\n' {staged_files} | awk -F/ '/^docs\/todo-[^/]+\// {print $1"/"$2}' | sort -u)
        if [ -z "$todo_dirs" ]; then
          exit 0
        fi
        for dir in $todo_dirs; do
          scripts/check-todo-readiness.sh "$dir"
        done

    # docs 변경 시 완료 todo 정리/참조 누락 여부를 선검증
    todo-closure:
      glob: "docs/**"
      run: scripts/check-todo-closure.sh

    lessons-log-enforcement:
      glob: "docs/LESSONS_LOG.md"
      run: scripts/check-lessons-log-enforcement.sh

commit-msg:
  commands:
    jj-root-git-commit-guard:
      run: scripts/check-jj-root-git-commit.sh

pre-push:
  commands:
    release-gates:
      run: scripts/check-release-gates.sh --manifest-mode full
    lessons-log-range:
      run: scripts/check-lessons-log-range.sh --remote origin --bookmark main

docs: close v1.0.65 relay hardening release
  docs/LESSONS_LOG.md
  docs/todo-relay-hardening-release/open-questions.md
  docs/todo-relay-hardening-release/spec.md
Due: todo-readiness, todo-closure, lessons-log-enforcement

chore: adopt ai-first v1.7.3 maintenance patch
  .ai-first.lock
  .ai-first.toml
  AGENTS.md
  docs/LESSONS_LOG.md
  docs/agent-harness.md
  docs/todo-ai-first-maintenance-release/open-questions.md
  docs/todo-ai-first-maintenance-release/spec.md
Due: todo-readiness, todo-closure, lessons-log-enforcement

docs: close ai-first maintenance adoption packet
  docs/LESSONS_LOG.md
  docs/todo-ai-first-maintenance-release/open-questions.md
  docs/todo-ai-first-maintenance-release/spec.md
Due: todo-readiness, todo-closure, lessons-log-enforcement

feat: prefer Yamux with legacy peer compatibility in 1.1.0
  Cargo.lock
  Cargo.toml
  docs/IMPROVEMENT_LOOP.md
  docs/LESSONS_LOG.md
  docs/SKILL_OPERATING_GUIDE.md
  docs/p2p.md
  docs/todo-yamux-migration/open-questions.md
  docs/todo-yamux-migration/spec.md
  src/main.rs
  src/p2p.rs
  src/p2p_muxer.rs
Due: todo-readiness, todo-closure, lessons-log-enforcement

docs: close Yamux migration implementation packet
  docs/LESSONS_LOG.md
  docs/todo-yamux-migration/open-questions.md
  docs/todo-yamux-migration/spec.md
Due: todo-readiness, todo-closure, lessons-log-enforcement

fix: retire mplex and report relay protocol counters
  Cargo.lock
  Cargo.toml
  docs/LESSONS_LOG.md
  docs/distribution.md
  docs/p2p.md
  docs/todo-yamux-only-observation/open-questions.md
  docs/todo-yamux-only-observation/spec.md
  src/p2p.rs
  src/p2p_muxer.rs
Due: todo-readiness, todo-closure, lessons-log-enforcement

docs: close yamux observation follow-up
  docs/LESSONS_LOG.md
  docs/todo-yamux-only-observation/open-questions.md
  docs/todo-yamux-only-observation/spec.md
Due: todo-readiness, todo-closure, lessons-log-enforcement

chore: prepare 1.1.1 release
  Cargo.lock
  Cargo.toml
Due: none

test: verify relay muxer telemetry in native smoke
  docs/LESSONS_LOG.md
  scripts/smoke_p2p_local.sh
Due: todo-closure, lessons-log-enforcement

fix: bound relay Yamux receive credit and circuit pressure
  .github/workflows/ci.yml
  Cargo.lock
  Cargo.toml
  docs/REPO_MANIFEST.yaml
  docs/p2p.md
  docs/todo-relay-memory-budget/open-questions.md
  docs/todo-relay-memory-budget/spec.md
  scripts/check.sh
  scripts/smoke_p2p_local.sh
  src/p2p.rs
  src/p2p_muxer.rs
  vendor/libp2p-yamux/Cargo.toml
  vendor/libp2p-yamux/README.rustory.md
  vendor/libp2p-yamux/src/lib.rs
Due: todo-readiness, todo-closure

docs: close relay memory budget validation
  docs/LESSONS_LOG.md
  docs/todo-relay-memory-budget/open-questions.md
  docs/todo-relay-memory-budget/spec.md
Due: todo-readiness, todo-closure, lessons-log-enforcement

chore: release v1.1.2
  Cargo.lock
  Cargo.toml
Due: none
