Repository zrma/rustory: changes, and which lefthook commands are due for each by the changed paths.
All: todo-readiness, todo-closure, lessons-log-enforcement

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    # docs/todo-* 변경은 commit 전에 readiness를 선검증
    todo-readiness:
      glob: "docs/todo-*/**"
      run: |
        todo_dirs=$(printf '%s\n' {staged_files} | awk -F/ '/^docs\/todo-[^/]+\// {print $1"/"$2}' | sort -u)
        if [ -z "$todo_dirs" ]; then
          exit 0
        fi
        for dir in $todo_dirs; do
          scripts/check-todo-readiness.sh "$dir"
        done

    # docs 변경 시 완료 todo 정리/참조 누락 여부를 선검증
    todo-closure:
      glob: "docs/**"
      run: scripts/check-todo-closure.sh

    lessons-log-enforcement:
      glob: "docs/LESSONS_LOG.md"
      run: scripts/check-lessons-log-enforcement.sh

commit-msg:
  commands:
    jj-root-git-commit-guard:
      run: scripts/check-jj-root-git-commit.sh

pre-push:
  commands:
    release-gates:
      run: scripts/check-release-gates.sh --manifest-mode full
    lessons-log-range:
      run: scripts/check-lessons-log-range.sh --remote origin --bookmark main

build: release 1.0.48
  Cargo.lock
  Cargo.toml
  docs/todo-release-v1-0-48/open-questions.md
  docs/todo-release-v1-0-48/spec.md
Due: todo-readiness, todo-closure

fix: harden SQLite import boundaries
  docs/todo-import-adapter-audit/open-questions.md
  docs/todo-import-adapter-audit/spec.md
  src/history_import/atuin.rs
  src/history_import/hishtory.rs
  src/history_import/mod.rs
Due: todo-readiness, todo-closure

docs: close import adapter audit
  docs/todo-import-adapter-audit/open-questions.md
  docs/todo-import-adapter-audit/spec.md
Due: todo-readiness, todo-closure

feat: add optional Atuin history import
  Cargo.toml
  README.md
  docs/README.md
  docs/REPO_MANIFEST.yaml
  docs/atuin-migration.md
  docs/hishtory-migration.md
  docs/quickstart.md
  docs/todo-atuin-import/open-questions.md
  docs/todo-atuin-import/spec.md
  src/cli.rs
  src/history_import/atuin.rs
  src/history_import/hishtory.rs
  src/history_import/mod.rs
Due: todo-readiness, todo-closure

fix: suppress loopback timeout log noise
  docs/todo-p2p-loopback-timeout-noise/open-questions.md
  docs/todo-p2p-loopback-timeout-noise/spec.md
  src/p2p.rs
Due: todo-readiness, todo-closure

docs: close v1.0.49 release
  docs/todo-release-v1-0-49/open-questions.md
  docs/todo-release-v1-0-49/spec.md
Due: todo-readiness, todo-closure

build: release 1.0.49
  Cargo.lock
  Cargo.toml
  docs/todo-release-v1-0-49/open-questions.md
  docs/todo-release-v1-0-49/spec.md
Due: todo-readiness, todo-closure

docs: close v1.0.51 release
  docs/todo-release-v1-0-51/open-questions.md
  docs/todo-release-v1-0-51/spec.md
Due: todo-readiness, todo-closure

build: release 1.0.51
  Cargo.lock
  Cargo.toml
  docs/todo-release-v1-0-51/open-questions.md
  docs/todo-release-v1-0-51/spec.md
Due: todo-readiness, todo-closure

docs: close relay retry backoff fix
  docs/todo-relay-relisten-backoff/open-questions.md
  docs/todo-relay-relisten-backoff/spec.md
Due: todo-readiness, todo-closure

docs: close loopback log noise fix
  docs/todo-p2p-loopback-timeout-noise/open-questions.md
  docs/todo-p2p-loopback-timeout-noise/spec.md
Due: todo-readiness, todo-closure

fix: back off relay listener retries
  docs/todo-relay-relisten-backoff/open-questions.md
  docs/todo-relay-relisten-backoff/spec.md
  src/p2p.rs
Due: todo-readiness, todo-closure

docs: close superseded v1.0.50 release
  docs/todo-release-v1-0-50/open-questions.md
  docs/todo-release-v1-0-50/spec.md
Due: todo-readiness, todo-closure

build: release 1.0.50
  Cargo.lock
  Cargo.toml
  docs/todo-release-v1-0-50/open-questions.md
  docs/todo-release-v1-0-50/spec.md
Due: todo-readiness, todo-closure

docs: close v1.0.53 release
  docs/todo-sync-status-readability/open-questions.md
  docs/todo-sync-status-readability/spec.md
Due: todo-readiness, todo-closure

fix: bound managed daemon logs
  docs/daemon.md
  docs/distribution.md
  docs/todo-managed-daemon-log-cleanup/open-questions.md
  docs/todo-managed-daemon-log-cleanup/spec.md
  src/cli.rs
  src/main.rs
  src/managed_logs.rs
Due: todo-readiness, todo-closure

chore: prepare v1.0.52 release
  Cargo.lock
  Cargo.toml
  docs/todo-release-v1-0-52/open-questions.md
  docs/todo-release-v1-0-52/spec.md
  src/managed_logs.rs
Due: todo-readiness, todo-closure

docs: close managed daemon log cleanup
  docs/todo-managed-daemon-log-cleanup/open-questions.md
  docs/todo-managed-daemon-log-cleanup/spec.md
Due: todo-readiness, todo-closure

feat: clarify sync cursors and stored rows
  Cargo.lock
  Cargo.toml
  docs/p2p.md
  docs/todo-sync-status-readability/open-questions.md
  docs/todo-sync-status-readability/spec.md
  src/cli.rs
  src/storage.rs
  src/sync_status.rs
  src/watch_tui.rs
Due: todo-readiness, todo-closure

docs: close v1.0.52 release
  docs/todo-release-v1-0-52/open-questions.md
  docs/todo-release-v1-0-52/spec.md
Due: todo-readiness, todo-closure

test: add disposable device retirement acceptance
  docs/acceptance/README.md
  docs/acceptance/device-retirement-vms.md
  scripts/acceptance/device-retirement/Caddyfile
  scripts/acceptance/device-retirement/Caddyfile.fail-ack
  scripts/acceptance/device-retirement/Caddyfile.fail-complete
  scripts/acceptance_device_retirement_vms.sh
  scripts/check-script-smoke.sh
Due: todo-closure

fix: harden device retirement authorization paths
  docs/p2p.md
  docs/security.md
  scripts/build-release-assets.sh
  src/cli.rs
  src/device_retirement.rs
  src/p2p.rs
  src/tracker.rs
Due: todo-closure

docs: document device retirement operations
  docs/MAINTENANCE_PILLARS.md
  docs/daemon.md
  docs/dev-playbook.md
  docs/distribution.md
  docs/p2p.md
  docs/quickstart.md
  docs/security.md
  docs/todo-device-retirement/open-questions.md
  docs/todo-device-retirement/spec.md
Due: todo-readiness, todo-closure

feat: add secure device retirement lifecycle
  Cargo.lock
  Cargo.toml
  install/rustory.py
  install/test_rustory.py
  src/cli.rs
  src/config.rs
  src/daemon.rs
  src/device_retirement.rs
  src/http_retry.rs
  src/main.rs
  src/managed_logs.rs
  src/p2p.rs
  src/self_update.rs
  src/storage.rs
  src/tracker.rs
  src/uninstall.rs
Due: none

docs: remove stale maintenance todo reference
  docs/MAINTENANCE_PILLARS.md
Due: todo-closure

build: isolate Linux compatibility build outputs
  scripts/build-release-assets.sh
Due: none

docs: close device retirement work
  docs/todo-device-retirement/open-questions.md
  docs/todo-device-retirement/spec.md
Due: todo-readiness, todo-closure

fix: validate background daemon pid identity
  install/rustory.py
  install/test_rustory.py
Due: none

fix: harden updater and background lifecycle
  install/rustory.py
  install/test_rustory.py
  src/managed_logs.rs
  src/self_update.rs
Due: none

fix: resolve explicit closed work in outgoing stacks
  scripts/check-push-gates.sh
  scripts/check-release-gates.sh
  scripts/check-script-smoke.sh
  scripts/finalize-and-push.sh
  scripts/lib/todo-workspace.sh
Due: none

fix: validate staged release asset identity
  scripts/check-script-smoke.sh
  scripts/release-version.sh
Due: none

fix: detect closed work across unpublished commits
  scripts/check-push-gates.sh
  scripts/check-release-gates.sh
  scripts/check-script-smoke.sh
  scripts/finalize-and-push.sh
  scripts/lib/todo-workspace.sh
Due: none

fix: pin retirement cleanup and logical identity
  src/cli.rs
  src/device_retirement.rs
  src/hook.rs
  src/tracker.rs
  src/uninstall.rs
Due: none

fix: keep tracker admin credentials out of argv
  docs/p2p.md
  docs/security.md
  src/cli.rs
Due: todo-closure

fix: make release smoke fixture portable
  scripts/check-script-smoke.sh
Due: none

docs: track post retirement audit
  docs/todo-post-device-retirement-audit/open-questions.md
  docs/todo-post-device-retirement-audit/spec.md
Due: todo-readiness, todo-closure

docs: close post retirement audit
  docs/todo-post-device-retirement-audit/open-questions.md
  docs/todo-post-device-retirement-audit/spec.md
Due: todo-readiness, todo-closure

fix: serialize repository script smoke fixtures
  scripts/check-script-smoke.sh
Due: none

docs: track CI script smoke portability
  docs/todo-ci-script-smoke-portability/open-questions.md
  docs/todo-ci-script-smoke-portability/spec.md
Due: todo-readiness, todo-closure

fix: bind publication gates to trusted targets
  docs/distribution.md
  scripts/build-release-assets.sh
  scripts/check-push-gates.sh
  scripts/check-release-gates.sh
  scripts/check-script-smoke.sh
  scripts/finalize-and-push.sh
  scripts/jj-git-push-safe.sh
  scripts/lib/todo-workspace.sh
Due: todo-closure
