Repository zrma/rustory: changes, and which lefthook commands are due for each by the changed paths.
All: todo-readiness, todo-closure, lessons-log-enforcement

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    # docs/todo-* 변경은 commit 전에 readiness를 선검증
    todo-readiness:
      glob: "docs/todo-*/**"
      run: |
        todo_dirs=$(printf '%s\n' {staged_files} | awk -F/ '/^docs\/todo-[^/]+\// {print $1"/"$2}' | sort -u)
        if [ -z "$todo_dirs" ]; then
          exit 0
        fi
        for dir in $todo_dirs; do
          scripts/check-todo-readiness.sh "$dir"
        done

    # docs 변경 시 완료 todo 정리/참조 누락 여부를 선검증
    todo-closure:
      glob: "docs/**"
      run: scripts/check-todo-closure.sh

    lessons-log-enforcement:
      glob: "docs/LESSONS_LOG.md"
      run: scripts/check-lessons-log-enforcement.sh

commit-msg:
  commands:
    jj-root-git-commit-guard:
      run: scripts/check-jj-root-git-commit.sh

pre-push:
  commands:
    release-gates:
      run: scripts/check-release-gates.sh --manifest-mode full
    lessons-log-range:
      run: scripts/check-lessons-log-range.sh --remote origin --bookmark main

build: release 1.0.36
  Cargo.lock
  Cargo.toml
Due: none

fix: clarify sync watch pending labels
  src/watch_tui.rs
Due: none

build: release 1.0.40
  Cargo.lock
  Cargo.toml
Due: none

fix: avoid arch suffix self-filter collision
  docs/todo-p2p-log-noise/spec.md
  src/p2p.rs
Due: todo-readiness, todo-closure

build: release 1.0.39
  Cargo.lock
  Cargo.toml
  docs/todo-release-v1-0-39/open-questions.md
  docs/todo-release-v1-0-39/spec.md
Due: todo-readiness, todo-closure

docs: close release 1.0.39 todo
  docs/todo-release-v1-0-39/open-questions.md
  docs/todo-release-v1-0-39/spec.md
Due: todo-readiness, todo-closure

fix: clarify mesh stale state
  Cargo.lock
  Cargo.toml
  docs/p2p.md
  src/watch_tui.rs
Due: todo-closure

fix: reload shell hook bindings
  Cargo.lock
  Cargo.toml
  docs/LESSONS_ARCHIVE.md
  src/hook.rs
Due: todo-closure

fix: replace shell buffer on history selection
  Cargo.lock
  Cargo.toml
  docs/LESSONS_ARCHIVE.md
  src/hook.rs
Due: todo-closure

refactor: centralize mesh peer state
  src/watch_tui.rs
Due: none

refactor: centralize watch tui totals
  src/watch_tui.rs
Due: none

docs: plan Atuin local import
  docs/todo-atuin-import/open-questions.md
  docs/todo-atuin-import/spec.md
Due: todo-readiness, todo-closure

feat: add node uninstall flow
  src/cli.rs
  src/hook.rs
  src/main.rs
  src/self_update.rs
  src/tracker.rs
  src/uninstall.rs
Due: none

docs: add maintenance pillars guide
  README.md
  docs/HANDOFF.md
  docs/MAINTENANCE_PILLARS.md
  docs/README.md
  docs/REPO_MANIFEST.yaml
Due: todo-closure

refactor: centralize watch pending breakdown
  src/watch_tui.rs
Due: none

feat: harden node retirement checks
  docs/dev-playbook.md
  docs/quickstart.md
  src/cli.rs
  src/sync_status.rs
  src/watch_tui.rs
Due: todo-closure

docs: align GPT-5.6 agent harness
  AGENTS.md
  docs/EXECUTION_LOOP.md
  docs/IMPROVEMENT_LOOP.md
  docs/OPERATING_MODEL.md
  docs/SKILL_OPERATING_GUIDE.md
Due: todo-closure

docs: add canonical agent harness interface
  AGENTS.md
  README.md
  docs/README.md
  docs/REPO_MANIFEST.yaml
  docs/agent-harness.md
  scripts/check-agent-harness-interface.sh
Due: todo-closure

docs: normalize agent entry maps
  AGENTS.md
  docs/agent-harness.md
  scripts/check-agent-harness-interface.sh
Due: todo-closure

fix: harden synchronization and cleanup safety
  docs/REPO_MANIFEST.yaml
  docs/hishtory-migration.md
  docs/p2p.md
  install/rustory.py
  install/test_rustory.py
  scripts/check.sh
  src/cli.rs
  src/config.rs
  src/daemon.rs
  src/hishtory_cleanup.rs
  src/p2p.rs
  src/storage.rs
  src/sync.rs
  src/tracker.rs
Due: todo-closure

fix: enforce Linux release compatibility
  Cargo.lock
  Cargo.toml
  docs/distribution.md
  docs/todo-release-hardening-v1-0-45/open-questions.md
  docs/todo-release-hardening-v1-0-45/spec.md
  docs/todo-release-v1-0-44/spec.md
  scripts/build-release-assets.sh
  scripts/check-linux-glibc-baseline.sh
  scripts/check-script-smoke.sh
  src/self_update.rs
  src/uninstall.rs
Due: todo-readiness, todo-closure

build: release version 1.0.44
  Cargo.lock
  Cargo.toml
  docs/todo-ci-linux-process-status/spec.md
  docs/todo-release-v1-0-44/open-questions.md
  docs/todo-release-v1-0-44/spec.md
Due: todo-readiness, todo-closure

fix: restore Linux self-update build
  docs/todo-ci-linux-process-status/open-questions.md
  docs/todo-ci-linux-process-status/spec.md
  src/self_update.rs
Due: todo-readiness, todo-closure

docs: finalize canonical agent harness structure
  docs/agent-harness.md
  scripts/check-agent-harness-interface.sh
Due: todo-closure

fix: harden uninstall safety boundaries
  docs/quickstart.md
  src/cli.rs
  src/hook.rs
  src/runtime_tasks.rs
  src/self_update.rs
  src/uninstall.rs
Due: todo-closure

docs: record v1.0.46 deployment
  docs/todo-release-v1-0-46/open-questions.md
  docs/todo-release-v1-0-46/spec.md
Due: todo-readiness, todo-closure

build: release 1.0.46
  Cargo.lock
  Cargo.toml
  docs/todo-release-v1-0-46/spec.md
Due: todo-readiness, todo-closure

feat: show peer rr versions
  Cargo.lock
  Cargo.toml
  docs/p2p.md
  docs/todo-release-v1-0-46/open-questions.md
  docs/todo-release-v1-0-46/spec.md
  src/cli.rs
  src/p2p.rs
  src/storage.rs
  src/sync_status.rs
  src/watch_tui.rs
Due: todo-readiness, todo-closure

docs: record v1.0.45 deployment
  docs/todo-release-hardening-v1-0-45/open-questions.md
  docs/todo-release-hardening-v1-0-45/spec.md
Due: todo-readiness, todo-closure

fix: harden privacy boundaries
  README.md
  docs/README.md
  docs/REPO_MANIFEST.yaml
  docs/hook.md
  docs/quickstart.md
  docs/security.md
  docs/todo-security-p0-privacy-boundaries/open-questions.md
  docs/todo-security-p0-privacy-boundaries/spec.md
  src/cli.rs
  src/hook.rs
  src/transport.rs
Due: todo-readiness, todo-closure

docs: close privacy boundary remediation
  docs/todo-security-p0-privacy-boundaries/open-questions.md
  docs/todo-security-p0-privacy-boundaries/spec.md
Due: todo-readiness, todo-closure

ci: enforce publication boundary
  AGENTS.md
  docs/agent-harness.md
  scripts/check-agent-harness-interface.sh
  scripts/check-publication-boundary.py
Due: todo-closure

docs: close v1.0.47 release
  docs/todo-release-v1-0-47/open-questions.md
  docs/todo-release-v1-0-47/spec.md
Due: todo-readiness, todo-closure

chore: release v1.0.47
  Cargo.lock
  Cargo.toml
  docs/todo-release-v1-0-47/open-questions.md
  docs/todo-release-v1-0-47/spec.md
Due: todo-readiness, todo-closure

fix: validate staged release assets
  docs/todo-implementation-defect-audit/open-questions.md
  docs/todo-implementation-defect-audit/spec.md
  scripts/check-script-smoke.sh
  scripts/lib/todo-workspace.sh
  scripts/release-version.sh
Due: todo-readiness, todo-closure

docs: close relay operations follow-ups
  docs/todo-p2p-log-noise/open-questions.md
  docs/todo-p2p-log-noise/spec.md
  docs/todo-relay-dns-listen/open-questions.md
  docs/todo-relay-dns-listen/spec.md
Due: todo-readiness, todo-closure

fix: harden runtime and release safety
  docs/todo-implementation-defect-audit/open-questions.md
  docs/todo-implementation-defect-audit/spec.md
  install/rustory.py
  install/test_rustory.py
  scripts/check-script-smoke.sh
  scripts/release-version.sh
  src/cli.rs
  src/daemon.rs
  src/hook.rs
  src/http_retry.rs
  src/main.rs
  src/p2p.rs
  src/search.rs
  src/self_update.rs
  src/storage.rs
  src/sync.rs
  src/terminal.rs
  src/tracker.rs
  src/transport.rs
  src/uninstall.rs
  src/watch_tui.rs
Due: todo-readiness, todo-closure

docs: close v1.0.48 release
  docs/todo-release-v1-0-48/open-questions.md
  docs/todo-release-v1-0-48/spec.md
Due: todo-readiness, todo-closure

fix: adapt oversized HTTP sync pulls
  docs/todo-post-v1-0-47-defect-review/open-questions.md
  docs/todo-post-v1-0-47-defect-review/spec.md
  src/sync.rs
  src/transport.rs
Due: todo-readiness, todo-closure

docs: close post-release defect review
  docs/todo-post-v1-0-47-defect-review/open-questions.md
  docs/todo-post-v1-0-47-defect-review/spec.md
Due: todo-readiness, todo-closure
