Repository zrma/rustory: changes, and which lefthook commands are due for each by the changed paths.
All: todo-readiness, todo-closure, lessons-log-enforcement

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    # docs/todo-* 변경은 commit 전에 readiness를 선검증
    todo-readiness:
      glob: "docs/todo-*/**"
      run: |
        todo_dirs=$(printf '%s\n' {staged_files} | awk -F/ '/^docs\/todo-[^/]+\// {print $1"/"$2}' | sort -u)
        if [ -z "$todo_dirs" ]; then
          exit 0
        fi
        for dir in $todo_dirs; do
          scripts/check-todo-readiness.sh "$dir"
        done

    # docs 변경 시 완료 todo 정리/참조 누락 여부를 선검증
    todo-closure:
      glob: "docs/**"
      run: scripts/check-todo-closure.sh

    lessons-log-enforcement:
      glob: "docs/LESSONS_LOG.md"
      run: scripts/check-lessons-log-enforcement.sh

commit-msg:
  commands:
    jj-root-git-commit-guard:
      run: scripts/check-jj-root-git-commit.sh

pre-push:
  commands:
    release-gates:
      run: scripts/check-release-gates.sh --manifest-mode full
    lessons-log-range:
      run: scripts/check-lessons-log-range.sh --remote origin --bookmark main

docs: close toolchain dependency refresh
  docs/LESSONS_LOG.md
  docs/todo-toolchain-dependency-refresh/open-questions.md
  docs/todo-toolchain-dependency-refresh/spec.md
Due: todo-readiness, todo-closure, lessons-log-enforcement

feat: adopt AI-first project framework
  .ai-first.lock
  .ai-first.toml
  .ai-first/check.py
  .ai-first/overlays/agents-first-read.md
  .ai-first/overlays/agents-project.md
  .ai-first/overlays/harness-project.md
  AGENTS.md
  docs/LESSONS_LOG.md
  docs/agent-harness.md
  docs/todo-ai-first-adoption/open-questions.md
  docs/todo-ai-first-adoption/spec.md
  scripts/check-agent-harness-interface.sh
  scripts/check.sh
Due: todo-readiness, todo-closure, lessons-log-enforcement

docs: close AI-first adoption work
  docs/todo-ai-first-adoption/open-questions.md
  docs/todo-ai-first-adoption/spec.md
Due: todo-readiness, todo-closure

build: pin AI-first v1 release
  .ai-first.lock
  .ai-first.toml
  AGENTS.md
  docs/agent-harness.md
  docs/todo-ai-first-v1-release/open-questions.md
  docs/todo-ai-first-v1-release/spec.md
  scripts/check-agent-harness-interface.sh
Due: todo-readiness, todo-closure

docs: close AI-first v1 release work
  docs/LESSONS_LOG.md
  docs/todo-ai-first-v1-release/open-questions.md
  docs/todo-ai-first-v1-release/spec.md
Due: todo-readiness, todo-closure, lessons-log-enforcement

chore: adopt ai-first 1.1.1
  .ai-first.lock
  .ai-first.toml
  .ai-first/check.py
  AGENTS.md
  docs/agent-harness.md
  scripts/check-agent-harness-interface.sh
Due: todo-closure

docs: add Spanish README
  README.es-ES.md
Due: none

chore: adopt ai-first 1.2.0
  .ai-first.lock
  .ai-first.toml
  AGENTS.md
  docs/agent-harness.md
  scripts/check-agent-harness-interface.sh
Due: todo-closure

feat: migrate terminal UI to ratatui
  Cargo.lock
  Cargo.toml
  docs/todo-ratatui-tui-migration/open-questions.md
  docs/todo-ratatui-tui-migration/spec.md
  src/cli.rs
  src/main.rs
  src/search.rs
  src/tui.rs
  src/watch_tui.rs
Due: todo-readiness, todo-closure

fix: keep smoke fixtures out of jj snapshots
  .gitignore
  scripts/check-script-smoke.sh
Due: none

ci: allow manual validation dispatch
  .github/workflows/ci.yml
  .github/workflows/docs-integrity.yml
  docs/todo-ratatui-tui-migration/spec.md
Due: todo-readiness, todo-closure

docs: close ratatui TUI migration
  docs/LESSONS_LOG.md
  docs/todo-ratatui-tui-migration/open-questions.md
  docs/todo-ratatui-tui-migration/spec.md
Due: todo-readiness, todo-closure, lessons-log-enforcement

refactor: harden HTTP retry control flow
  docs/todo-retry-tracker-maintainability/open-questions.md
  docs/todo-retry-tracker-maintainability/spec.md
  src/http_retry.rs
Due: todo-readiness, todo-closure

refactor: isolate tracker peer handlers
  docs/todo-retry-tracker-maintainability/spec.md
  src/tracker.rs
Due: todo-readiness, todo-closure

chore: prepare v1.0.63 release
  Cargo.lock
  Cargo.toml
  docs/todo-retry-tracker-maintainability/spec.md
Due: todo-readiness, todo-closure

docs: close retry tracker maintainability
  docs/LESSONS_LOG.md
  docs/todo-retry-tracker-maintainability/open-questions.md
  docs/todo-retry-tracker-maintainability/spec.md
Due: todo-readiness, todo-closure, lessons-log-enforcement

fix: bound p2p queue recovery
  Cargo.lock
  Cargo.toml
  docs/LESSONS_LOG.md
  docs/todo-p2p-queue-recovery/open-questions.md
  docs/todo-p2p-queue-recovery/spec.md
  src/p2p.rs
Due: todo-readiness, todo-closure, lessons-log-enforcement

fix: bound p2p queue recovery
  docs/LESSONS_LOG.md
  docs/todo-p2p-queue-recovery/spec.md
  src/p2p.rs
Due: todo-readiness, todo-closure, lessons-log-enforcement

docs: close p2p queue recovery
  docs/LESSONS_LOG.md
  docs/todo-p2p-queue-recovery/open-questions.md
  docs/todo-p2p-queue-recovery/spec.md
Due: todo-readiness, todo-closure, lessons-log-enforcement

chore: adopt ai-first 1.3.1
  .ai-first.lock
  .ai-first.toml
  .ai-first/check.py
  AGENTS.md
  docs/agent-harness.md
  scripts/check-agent-harness-interface.sh
Due: todo-closure

docs: refresh AI-first operating references
  docs/EXECUTION_LOOP.md
  docs/HANDOFF.md
  docs/IMPROVEMENT_LOOP.md
  docs/OPERATING_MODEL.md
  docs/SKILL_OPERATING_GUIDE.md
Due: todo-closure

chore: prepare ai-first 1.4.0 Astra adoption
  .ai-first.lock
  .ai-first.toml
  AGENTS.md
  docs/CHANGE_CONTROL.md
  docs/ESCALATION_POLICY.md
  docs/LESSONS_LOG.md
  docs/README_OPERATING_POLICY.md
  docs/agent-harness.md
  scripts/check-agent-harness-interface.sh
Due: todo-closure, lessons-log-enforcement

chore: pin ai-first 1.4.0 release
  .ai-first.lock
  .ai-first.toml
  docs/todo-ai-first-astra-release/open-questions.md
  docs/todo-ai-first-astra-release/spec.md
  scripts/check-agent-harness-interface.sh
Due: todo-readiness, todo-closure

docs: close ai-first release pin preparation
  docs/LESSONS_LOG.md
  docs/todo-ai-first-astra-release/open-questions.md
  docs/todo-ai-first-astra-release/spec.md
Due: todo-readiness, todo-closure, lessons-log-enforcement

chore: prepare AI-first spec-to-artifact contract
  .ai-first.lock
  .ai-first.toml
  .ai-first/check.py
  AGENTS.md
  docs/LESSONS_LOG.md
  docs/agent-harness.md
  scripts/check-agent-harness-interface.sh
Due: todo-closure, lessons-log-enforcement

docs: define AI-first v1.5 release pin verification
  docs/todo-ai-first-spec-artifact-release/open-questions.md
  docs/todo-ai-first-spec-artifact-release/spec.md
Due: todo-readiness, todo-closure

chore: adopt AI-first v1.5.0 release
  .ai-first.lock
  .ai-first.toml
  AGENTS.md
  docs/LESSONS_LOG.md
  docs/agent-harness.md
  scripts/check-agent-harness-interface.sh
Due: todo-closure, lessons-log-enforcement

docs: close AI-first v1.5.0 release adoption
  docs/LESSONS_LOG.md
  docs/todo-ai-first-spec-artifact-release/open-questions.md
  docs/todo-ai-first-spec-artifact-release/spec.md
Due: todo-readiness, todo-closure, lessons-log-enforcement

docs: define intent review adoption acceptance
  docs/todo-ai-first-intent-review/open-questions.md
  docs/todo-ai-first-intent-review/spec.md
Due: todo-readiness, todo-closure

chore: adopt ai-first v1.6.0 intent review
  .ai-first.lock
  .ai-first.toml
  AGENTS.md
  docs/EXECUTION_LOOP.md
  docs/LESSONS_LOG.md
  docs/agent-harness.md
  docs/todo-ai-first-intent-review/open-questions.md
  docs/todo-ai-first-intent-review/spec.md
  scripts/check-agent-harness-interface.sh
  scripts/start-work.sh
Due: todo-readiness, todo-closure, lessons-log-enforcement

chore: adopt ai-first v1.7.0 shared interface checks
  .ai-first.lock
  .ai-first.toml
  .ai-first/check.py
  AGENTS.md
  docs/LESSONS_LOG.md
  docs/agent-harness.md
  docs/todo-ai-first-shared-interface/open-questions.md
  docs/todo-ai-first-shared-interface/spec.md
  scripts/check-agent-harness-interface.sh
Due: todo-readiness, todo-closure, lessons-log-enforcement

docs: close ai-first shared interface adoption
  docs/LESSONS_LOG.md
  docs/todo-ai-first-shared-interface/open-questions.md
  docs/todo-ai-first-shared-interface/spec.md
Due: todo-readiness, todo-closure, lessons-log-enforcement

chore: adopt ai-first v1.7.1 startup routing
  .ai-first.lock
  .ai-first.toml
  AGENTS.md
  docs/EXECUTION_LOOP.md
  docs/HANDOFF.md
  docs/LESSONS_LOG.md
  docs/agent-harness.md
  docs/todo-ai-first-startup-routing/open-questions.md
  docs/todo-ai-first-startup-routing/spec.md
Due: todo-readiness, todo-closure, lessons-log-enforcement

docs: close ai-first startup routing adoption
  docs/LESSONS_LOG.md
  docs/todo-ai-first-startup-routing/open-questions.md
  docs/todo-ai-first-startup-routing/spec.md
Due: todo-readiness, todo-closure, lessons-log-enforcement

docs: focus README and documentation index on product onboarding
  README.md
  docs/LESSONS_LOG.md
  docs/OPERATING_MODEL.md
  docs/README.md
  docs/README_OPERATING_POLICY.md
  docs/todo-reader-focused-docs/open-questions.md
  docs/todo-reader-focused-docs/spec.md
  scripts/check-readme-policy.sh
Due: todo-readiness, todo-closure, lessons-log-enforcement

docs: close reader-focused documentation work
  docs/LESSONS_LOG.md
  docs/todo-reader-focused-docs/open-questions.md
  docs/todo-reader-focused-docs/spec.md
Due: todo-readiness, todo-closure, lessons-log-enforcement

chore: adopt ai-first v1.7.2 cumulative review
  .ai-first.lock
  .ai-first.toml
  AGENTS.md
  docs/LESSONS_LOG.md
  docs/agent-harness.md
  docs/todo-ai-first-cumulative-review/open-questions.md
  docs/todo-ai-first-cumulative-review/spec.md
Due: todo-readiness, todo-closure, lessons-log-enforcement

docs: close cumulative review adoption
  docs/LESSONS_LOG.md
  docs/todo-ai-first-cumulative-review/open-questions.md
  docs/todo-ai-first-cumulative-review/spec.md
Due: todo-readiness, todo-closure, lessons-log-enforcement

fix: bound relay connections and expose connection health
  Cargo.lock
  Cargo.toml
  docs/LESSONS_LOG.md
  docs/p2p.md
  src/p2p.rs
Due: todo-closure, lessons-log-enforcement

chore: prepare v1.0.65 relay hardening release
  Cargo.lock
  Cargo.toml
  docs/LESSONS_LOG.md
  docs/todo-relay-hardening-release/open-questions.md
  docs/todo-relay-hardening-release/spec.md
Due: todo-readiness, todo-closure, lessons-log-enforcement
